@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes rotatingColors {
  0%   { border-color: red; }
  25%  { border-color: yellow; }
  50%  { border-color: blue; }
  75%  { border-color: green; }
  100% { border-color: red; }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flex-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.flex-item {
  width: 100%;
}


.flex-item>div {
  border: 1px solid blue;
  flex: 1 1 auto;
}

/* Initial state, placed at the bottom and translated down by 100% (hidden) */
.slide-up-div {
  background-color: #ffa62a; /* Brighter color to indicate hope */
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-out; /* 0.5s slide duration */
}

/* When showDiv is true, the div will slide up */
.show {
  transform: translateY(0);
}

.history-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(94, 94, 94) ;
}